{% extends "/shop/layout.html.twig" %}  
{% block titles %}{{product.title}}{% endblock %}
{% block body %}    
     
    <h1>{{product.title}}</h1> 
    <img src="{{product.img}}" alt="{{product.title}}" /><br/>
    <p class="price">{{product.price}}</p>
    {% if product.rating > 0 %}
         <p class="rating">  
            Rating ({{product.rating}}/5): 
            {% if product.rating == 1 %}      
                <span>&#9829;</span>
            {% endif %}
            {% if product.rating == 2 %}
                 <span>&#9829; &#9829;</span>
            {% endif %}
            {% if product.rating == 3 %}
                 <span>&#9829; &#9829; &#9829;</span>
            {% endif %}
            {% if product.rating == 4 %}
                 <span>&#9829; &#9829; &#9829; &#9829;</span>
            {% endif %}
            {% if product.rating == 5 %}
                 <span>&#9829; &#9829; &#9829; &#9829; &#9829;</span>
            {% endif %}
         </p>
          <p>{{product.desc}}</p>     
    {% endif %}
    
     <p class="buy"><a onclick="alert('Buyed!');" href="javascript:;">Buy</a></p>
    <p class="back"><a href="{{ url('categories_view') }}/{{product.categoryId}}">Back</a></p>
    
    <hr>
    
   <div class="reviews">
        <h3>Reviews:</h3>
        {%  for review in reviews %}
        
        <p class="review_fio">{{review.fio}}:</p>
        <p class="review_date">{{review.date}}</p>
        <p class="review_text">{{review.text}}</p>
        <hr>
        
        {% endfor %}
    
    </div>
    
   

{% endblock %}